* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  margin-left: 200px;
}

.navbar{
  background: rgb(0, 7, 61);
  color: white;
  width: 100%;
  position: fixed;
}
.navbar-brand{
  color: white;
}
.navbar-brand:hover {
  color: white;
}
/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 91vh;
  width: 200px;
  position: fixed ;
  top: 55px;
  left: 0;
}

.container{
  width: 1000px;
  padding-left: 50px;
  margin-top: 65px;
}
ul {
  padding-left: 0rem;
}

li {
  display: flex;
  color: white;
  /* gap: 10px; */
  padding: 5px 10px;
  border-right: 4px solid transparent;
}
li:hover {
  border-left: 4px solid white;
  background: rgb(45, 51, 89);
}
.active{
  border-right: 4px solid #6f6fc1;
  /* background: rgb(45, 51, 89); */
}